<div class="assessment-container">
  <h2>Lets Begin!</h2>
  <form (submit)="submitAssessment($event)">
    <div class="question">
      <label for="q1">1. What subject courses are you looking for? </label><br>
      <input type="text" id="q1" name="question1" placeholder="Your answer">
    </div><br>

    <div class="question">
      <label for="q3">2. Which type of course are you interested in?</label><br>
      <!-- <label for="course-type">Select a course type:</label><br> -->
      <div class="radio-group">
        <input type="radio" id="free" name="course-type" value="free">
        <label for="free">Free</label>
      </div>
      <div class="radio-group">
        <input type="radio" id="paid" name="course-type" value="paid" (click)="toggleCourse()">
        <label for="paid">Paid</label>
        <div id="budget-info" *ngIf="paidCourse">
          <!-- <h3>Budget</h3> -->
          <div class="dropdown">
            <!-- <input type="text" id="budget-input" placeholder="Select or enter your budget"> -->
            <div class="dropdown-content">
              <input type="number" id="budget" name="budget" step="1" placeholder="Enter your budget">
            </div>
          </div>
        </div>
      </div>
    </div><br>

    <div class="question">
      <label for="q2">3.How many hours per week can you commit to studying on our website?</label>
        <div class = "slider">
      <!-- Replace the input field with a range slider -->
      <input type="range" id="q2" name="question2" min="1" max="60" step="1" (input)="onSliderChange($event)">
      <span id="slider-value">0 hours</span>
    </div>
    </div><br>

    <div class="question">
      <label for="q4">4. Experience level?</label><br>
      <label>
        <input type="radio" name="experience" value="beginner">
        Beginner
      </label><br>
      
      <label>
        <input type="radio" name="experience" value="intermediate">
        Intermediate
      </label><br>
      
      <label>
        <input type="radio" name="experience" value="advanced">
        Advanced
      </label>
      <!-- <input type="text" id="q4" name="question4" placeholder="Your answer"><br> -->
    </div><br>
    <button type="submit">Submit</button>
  </form>
</div>

<div class="image-container">
  <!-- Add your image here -->
  <img src="..\..\assets\assessment.jpg" alt="Image Description" />
</div>
<script src="budget.js"></script>