
.product-image{
    width: 100%
}
.dot{
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: rgb(104, 104, 107);
    border-radius: 50%;
    display: inline-block
}
.spec-1{
    color: #938787;
    font-size: 15px
}
h3{
    font-weight: 700
}
.para{
    font-size: 16px
}
