<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course Recommendation</title>
</head>
<body>
    <h1>Course Recommendation</h1>
    <form method="post">
        <label for="search_term">Enter your search term:</label>
        <input type="text" id="search_term" name="search_term" required>
        <button type="submit">Search</button>
    </form>
    {% if results %}
        <h2>Results for '{{ search_term }}':</h2>
        {{ results }}
    {% elif recommendations_list %}
        <h2>Recommendations for '{{ search_term }}':</h2>
        {% for recommendations in recommendations_list %}
            <h3>Recommendations for term:</h3>
            {% for i in recommendations %}
            <li>{{ recommendations }}</li>
            {% endfor %}    
        {% endfor %}
    {% endif %}
</body>
</html>